
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: #F7F7F7;
  font-family: monospace;  
  background-color: #232323;  
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 8px;
  max-width: 530px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px 0;
}

.sub-container {
  padding: 4px;
  margin: px 0;
}
.sub-container h1{
  color: #00a76f;
}
.sub-container h3 {
  font-size: 16px;
  color: #4effc459;
  margin-top: -16px;
}

@media only screen and (max-width: 768px) {
  .container{
    transform: translate(-50%, 0%);
  }
}

